.feature {
  text-align: center;
}

.home .hero img {
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.sidebar-group.depth-0 {
  .sidebar-heading{
    display: none;
  }
}

.tag {
  display: inline-block;
  background-color: rgb(140, 174, 219);
  padding: 0 10px 0 12px;
  border-radius: 999em;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border: none;
  line-height: 28px;
  margin-right: 10px;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease;

  sup {
    margin-left: -2px;
    font-weight: 700;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    top: -0.5em;
  }

  &.sm{
    padding: 0 8px;
    font-size: 12px;
    line-height: 22px;
  }

  &.selected {
    box-shadow: rgba(0,0,0,.117647) 0 1px 6px, rgba(0,0,0,.239216) 0 1px 4px;
    background-color: #0085a1!important;
  }
}

blockquote {
  p {
    word-wrap: break-word;
  }
}